html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

h1 {
    color: purple;
    font-size: xx-large;
}

.is-active {
    font-weight: bold;
    color: yellow;
}